

 .head_name{

    font-family: 'Arial', sans-serif;
    color: #f8f8f8;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;   
}
.dev{
    
    font-family: 'Arial', sans-serif;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;   
}
body {
  background-image: url("background.jpg"); /* replace with your file name */
  background-size: cover;       /* makes the image fill the screen */
  background-repeat: no-repeat; /* prevents tiling */
  background-position: center;  /* centers the image */
}  
.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.download-btn:hover {
  background-color: #2980b9; /* darker blue on hover */
}
.about {
  height: 100vh;
  background: url("second-bg.jpg") no-repeat center center / cover;
  color: black;
  padding: 50px;
}

/* Third section background */
.projects {
  height: 100vh;
  background: url("third-bg.jpg") no-repeat center center / cover;
  color: white;
  padding: 50px;
}

